version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
<<<<<<< HEAD
    container_name: rest-pro-app
    ports:
      - "3001:3000"
=======
    container_name: nextjs-app
    ports:
      - "3000:3000"
>>>>>>> 06bb4558f885ab00dd2e089b97beba024855d6f3
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "node", "-e", "require('http').get('http://localhost:3000', (r) => {if (r.statusCode !== 200) throw new Error(r.statusCode)})"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
